* {
    margin: 0;
    font-family: sans-serif;
}
:root {
    --black: black;
    --white: white;
    --yellow: #f6d200;
    --body-color: #ededed;
}

body{
    background-color: var(--body-color);
}
header{
    height: 350px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header h1{
    color: var(--white);
    font-size: 4rem;
    font-weight: 500;
}
header p{
    color: var(--yellow);
    font-style: italic;
    font-size: 1rem;
}
nav{
    background-color: var(--yellow);
    display: flex;
    padding: 0.70rem 0;
    justify-content: space-around;
}
.nav-item{
    text-align: center;
}
#main-section{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}
#main-section main{
    flex-basis: 78%;
}
#main-section aside{
    flex-basis: 20%;
}
.featured-item{
    background-color: var(--white);
    padding: 1.25rem;
    margin-bottom: 2rem;
}
.featured-item h3{
    font-size: 1.063rem;
    margin-bottom: 1.25rem;
}
.featured-item h4{
    font-size: 0.875rem;
    margin-bottom: 1rem;
    margin-left: 1.125rem;
}
#movie-collection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movie-items{
    margin-bottom: 1.25rem;
}
.movie-items img{
    max-width: 100%;
}
.two-items{
    flex-basis: 49%;
}
.three-items{
    flex-basis: 32%;
}
.movie-title{
    background-color: var(--yellow);
    text-align: center;
    padding: 1.25rem 0;
    margin-top: -4px;
}
.movie-title p{
    font-size: 1.375rem;
    font-weight: 600;
}
.movie-description{
    background-color: var(--white);
    padding: 2rem;
}
.full-item img{
    width: 100%;
}
#section-title{
    text-align: center;
    font-size: 2rem;
    padding: 1.63rem;
}
.available-movie{
    display: flex;
    margin-bottom: 2rem;
}
.available-movie-image{
    flex-basis: 35%;
}
.available-movie-image img{
    height: 40rem;
}
.available-movie-title{
    background-color: var(--black);
    color: var(--white);
    padding-left: 3rem;
    padding-right: 14rem;
    padding-top: 15rem;
}
.available-movie-title h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.available-movie-title h4{
    margin-bottom: 1rem;
}
.available-movie-title p{
    margin-bottom: 1rem;
    line-height: 1.4rem;
}
.available-movie-title h3{
    text-decoration: underline;
}
#available-movie-2{
    flex-direction: row-reverse;
}
#download-header img{
    width: 100%;
}
#download-details{
    display: flex;
    justify-content: space-between;
    margin-top: -0.25rem;
}
#download-details img{
    width: 60px;
}
#download-detail-1{
    background-color: var(--black);
    flex-grow: 1;
    color: var(--white);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#download-detail-1 i{
    font-size: 2.5rem;
}
#download-detail-2{
    background-color: var(--white);
    flex-grow: 2;
    padding: 0.8rem;
    box-sizing: border-box;
}
#genre-section{
    display: flex;
}
#genre-section div:nth-child(2){
    margin-left: 2rem;
    margin-top: 0.2rem;
}
#cast-section{
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
}
#cast-images{
    margin-left: 2.6rem;
    margin-top: 0.2rem;
}
#cast-images img{
    border-radius: 50%;
}
#download-detail-3{
    background-color: var(--yellow);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#download-detail-3 h2{
    font-size: 2.5rem;
}
#movie-section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
#movie-section img{
    width: 100%;
    object-fit: cover;
    height: 15rem;
}
.movie-seciotn-items{
    flex-grow: 1;
    margin-bottom: 0.251rem;
    margin-left: 0.5rem;
}
.movie-seciotn-items:nth-child(4n + 1){
   flex-basis: 20%;
}
.movie-seciotn-items:nth-child(4n + 2){
    flex-basis: 40%;
 }
 .movie-seciotn-items:nth-child(4n + 3){
    flex-basis: 20%;
 }
 .movie-seciotn-items:nth-child(4n + 4){
    flex-basis: 35%;
 }
 footer{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 1.2rem;
 }
 @media (max-width: 1200px) {
    #main-section{
        flex-direction: column;
    }
 }
 @media (max-width: 1024px) {
    .available-movie-image{
     height: 20rem;
    }
    .available-movie-title{
        padding-right: 10rem;
    }
 }
 @media (max-width: 768px){
    #movie-collection{
        flex-direction: column;
    }
    .movie-items img{
        width: 100%;
    }
    .available-movie{
        flex-direction: column;
    }
    .available-movie-title{
        padding: 2rem 1rem;
    }
    .available-movie-image{
        text-align: center;
        padding: 1rem 0;
    }
    #available-movie-2{
        flex-direction: column-reverse;
    }
    #download-details{
        flex-direction: column;
    }
    #download-detail-1{
        padding: 1rem;
    }
    #download-detail-2{
        padding: 1rem;
    }
    #download-detail-3{
        padding: 1rem;
    }
}
